.input {
  width: 100%;
  text-align: center;
}

.input:focus,
.input:active {
  border: none;
  outline: none;
}

.helperText {
  display: block;
  align-self: flex-start;
}

.errorText {
  display: block;
  align-self: flex-start;
  color: var(--bs-danger);
}
