.label {
  /* padding-top: 0.5rem; */
  font-size: 16px;
  color: #1d2129;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 50vh;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  position: relative;
}
.modalHeader,
.modalFooter {
  padding-top: 16px;
  padding-left: 18px;
}

.modalFooter {
  text-align: center;
}

.modalTitle {
  margin: 0;
  font-size: 24pt;
}

.modalBody {
  padding: 10px;
  border-top: 1px solid #eee;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
}
.closeButton:before,
.closeButton:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 20px;
  background-color: gray;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
  content: "";
}
.closeButton:after {
  transform: rotate(-45deg) translate(-50%, -50%);
}

.signUpForm {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.nameInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textInput {
  background-color: white;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 48px;
  padding: 16px 16px;
  margin-bottom: 1rem;
  vertical-align: middle;
  width: 100%;
  font-size: 17px;
  border-radius: 6px;
}
.textInputName {
  width: 48%;
  padding: 0.5rem;
  font-size: 17px;
  border-radius: 6px;
  height: 48px;
  padding: 16px 16px;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid #dddfe2;
  color: #1d2129;
}

.birthdayInput {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.selectInput {
  width: 30%;
}

.genderInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.genderSelect {
  background-color: #fff;
  border: 1px solid #dddfe2;
  box-sizing: border-box;
  border-radius: 6px;
  width: 30%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pronounSelect {
  background-color: white;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 48px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  vertical-align: middle;
  width: 100%;
  padding: 8px 8px;
  font-size: 17px;
  border-radius: 6px;
}

.signUpButton {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 32px;
  padding: 4px 54px;
  background-color: #42b72a;
  color: #fff;
  font-weight: bold;
  margin: 8px 0px;
}

.signUpButton:disabled {
  opacity: 0.5;
}
